---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>
My research spans scientific machine learning, inverse problems, uncertainty
quantification, geoscience, reactive transport, materials science, and other
scientific applications of data-driven methods.
</p>

<p>
For a complete and up-to-date list, see my
<a href="https://scholar.google.com/citations?user=PS_CX0AAAAAJ">Google Scholar profile</a>.
</p>

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my publications on
    <a href="{{site.author.googlescholar}}">Google Scholar</a>.
  </div>
{% endif %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
